.chart-container {
  position: relative;
  border-radius: 2px;
  margin-top: 2rem;
  height: 50vw;
  max-height: 500px;
  display: none;
}

@media screen and (min-width: 600px) {
  .chart-container {
    display: block;
  }
}
